:root {
  /* primary color white */
  --primary-color: #ffffff;
  /* secondary color blue */
  --secondary-color: #2196f3;
  /* header color black */
  --header-color: #212121;
  /* text color black */
  --text-color: #757575;
  /* hero background color */
  --hero-bg-color: #2f303a;
  /* background color */
  --background-color: #f5f4fa;
  /* futer background color */
  --footer-bg-color: #2f303a;
  /* mail-link color */
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  min-width: 320px;
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  body {
    padding-top: 80px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

[class*="__icon"] {
  object-position: center;
  fill: currentColor;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 465px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 753px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1185px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.page-header .logo__studio {
  color: var(--header-color);
}

.page-footer .logo__studio {
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.main-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.page-header .logo__studio {
  color: var(--header-color);
}

.page-footer .logo__studio {
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header .address__list {
  display: flex;
}

.page-header .address__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .page-header .address__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.page-header .address__link:hover, .page-header .address__link:focus {
  color: var(--secondary-color);
}

.page-header.is-mobile .address__link {
  font-size: 24px;
  line-height: 1.17;
}

.page-header.is-mobile .address__link:hover, .page-header.is-mobile .address__link:focus {
  font-size: 34px;
  line-height: 1.18;
}

.page-footer .address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .address__link:hover, .page-footer .address__link:focus {
  color: var(--secondary-color);
}

.page-footer .address__link--color {
  color: var(--primary-color);
}

.address__icon {
  margin-right: 10px;
}

.page-header.is-mobile .address__icon {
  display: none;
}

.social__list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.page-header .social__list {
  justify-content: left;
}

.page-header .social__item {
  display: flex;
}

.page-header .social__item:not(:last-child)::after {
  content: "";
  width: 10px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .social__link {
  width: unset;
  height: unset;
}

.page-header .social__link:hover, .page-header .social__link:focus {
  color: unset;
  background-color: unset;
}

.page-footer .social__link {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
  overflow: auto;
  z-index: 7;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 320px;
  min-height: 320px;
  padding: 40px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(-50%);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  color: var(--secondary-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
}

.input__box {
  position: relative;
  margin-bottom: 20px;
}

.input__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:not(:placeholder-shown) {
  background-color: transparent;
}

.input__field:hover, .input__field:focus {
  border-color: var(--secondary-color);
}

.input__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: var(--header-color);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:hover + .input__icon,
.input__field:focus + .input__icon {
  fill: var(--secondary-color);
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover, .textarea:focus {
  border-color: var(--secondary-color);
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.check__icon {
  flex: 0 0 16px;
  border: 2px solid var(--header-color);
  border-radius: 2px;
  fill: var(--primary-color);
  pointer-events: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__box:checked + .check__icon {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.check__text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check__text a {
  color: var(--secondary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__text a:hover, .check__text a:focus {
  color: #188ce8;
}

.submit__button {
  margin: 0 auto;
}

.page-header {
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.page-header.is-mobile {
  max-height: 100vh;
  overflow: auto;
}

.header-content {
  position: relative;
}

.header-content.is-mobile {
  width: 100%;
  padding: 48px 40px;
}

.header-content.is-mobile .menu-button {
  position: absolute;
  top: 10px;
  right: 0;
}

.header-content.is-mobile .logo {
  display: none;
}

.header-content.is-mobile .nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-content.is-mobile .nav__list {
  margin-bottom: 306px;
}

.header-content.is-mobile .nav__link {
  font-size: 40px;
  line-height: 1.175;
}

.header-content.is-mobile .nav__link.current {
  color: var(--secondary-color);
}

.header-content.is-mobile .address__list {
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 64px;
}

.header-content:not(.is-mobile) {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-content:not(.is-mobile) .nav__list,
  .header-content:not(.is-mobile) .address__list,
  .header-content:not(.is-mobile) .social__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-content:not(.is-mobile) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-content:not(.is-mobile) .logo {
    margin-right: 90px;
  }
  .header-content:not(.is-mobile) .nav-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-content:not(.is-mobile) .nav__list {
    height: 100%;
    display: flex;
    align-items: center;
    width: 294px;
    justify-content: space-between;
  }
  .header-content:not(.is-mobile) .nav__item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .header-content:not(.is-mobile) .nav__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .header-content:not(.is-mobile) .address__list {
    flex-direction: column;
  }
  .header-content:not(.is-mobile) .social__list {
    display: none;
  }
  .header-content:not(.is-mobile) .menu-button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-content:not(.is-mobile) {
    height: 80px;
  }
  .header-content:not(.is-mobile) .address__list {
    flex-direction: row;
    column-gap: 30px;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--secondary-color);
}

.menu-button {
  width: 40px;
  height: 40px;
  border: none;
  color: #000;
  background-color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.menu-button:hover, .menu-button:focus {
  color: #188ce8;
}

.menu-button .icon--cross {
  opacity: 1;
}

.menu-button .icon--menu {
  opacity: 0;
}

.menu-button:not(.is-open) .icon--cross {
  opacity: 0;
}

.menu-button:not(.is-open) .icon--menu {
  opacity: 1;
}

.hero {
  min-height: 400px;
  min-width: 320px;
  padding-top: 118px;
  margin: 0 auto;
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero_480x400.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero_960x800.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero_768x400.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero_1536x800.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero_1600x600.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero_3200x1200.jpg);
  }
}

.hero .main-button {
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 60%;
    font-size: 44px;
    line-height: 1.36;
  }
}

/*----------------------------------- common-section --------------------------------------*/
.preference-section,
.person-section,
.client-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .preference-section,
  .person-section,
  .client-section {
    padding: 94px 0;
  }
}

.work-section__title,
.person-section__title,
.client-section__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

@media screen and (min-width: 1200px) {
  .work-section__title,
  .person-section__title,
  .client-section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

/*----------------------------------- preference-section --------------------------------------*/
/*--------------------------------- without flex for vertical --- without gap -----------------*/
/*--------------------------------------------------------------- one vertical line ---*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------flex is used for all devices (universal)---------------------*/
.preference__list,
.person__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.preference__list .preference__item,
.preference__list .person__item,
.person__list .preference__item,
.person__list .person__item {
  flex: 1 80%;
}

@media screen and (min-width: 768px) {
  .preference__list .preference__item,
  .preference__list .person__item,
  .person__list .preference__item,
  .person__list .person__item {
    flex: 1 40%;
  }
}

@media screen and (min-width: 1200px) {
  .preference__list .preference__item,
  .preference__list .person__item,
  .person__list .preference__item,
  .person__list .person__item {
    flex: 1 20%;
  }
}

/*------------------------------------------------------------------*/
.preference__place {
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--background-color);
}

.preference__icon {
  display: block;
  margin: 0 auto;
}

.preference__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color);
}

@media screen and (min-width: 768px) {
  .preference__title {
    text-align: left;
  }
}

.preference__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*----------------------------------- work-section --------------------------------------*/
.work-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section {
    display: unset;
  }
  .work-section .work__list {
    display: flex;
    column-gap: 30px;
  }
}

.work__item {
  position: relative;
}

.work__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*----------------------------------- person-section --------------------------------------*/
.person-section {
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.person-section .social__link {
  color: #afb1b8;
}

.person-section .social__link:hover, .person-section .social__link:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.person__item {
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color);
}

.person__title {
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.person__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social__list {
  margin: 0 auto;
}

/*----------------------------------- client-section --------------------------------------*/
.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.client__list .client__item {
  flex: 1 40%;
}

@media screen and (min-width: 768px) {
  .client__list .client__item {
    flex: 1 30%;
  }
}

@media screen and (min-width: 1200px) {
  .client__list .client__item {
    flex: 1 13%;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.page-footer {
  padding: 60px 0;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--footer-bg-color);
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer .footer__address,
.page-footer .social__list {
  margin-bottom: 60px;
}

.page-footer .address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .page-footer .social__list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: left;
  }
  .page-footer .footer__address {
    margin-bottom: 0;
  }
}

.footer__text,
.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe__mail {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__mail:hover, .subscribe__mail:focus {
  border-color: var(--primary-color);
}

.subscribe__mail:hover::placeholder, .subscribe__mail:focus::placeholder {
  color: var(--primary-color);
}

.subscribe__button {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .subscribe-form {
    flex: 0 1 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex: unset;
    margin: 0;
  }
  .subscribe__box {
    display: flex;
    width: 570px;
    justify-content: space-between;
  }
  .subscribe__mail {
    width: 358px;
    margin-bottom: 0;
  }
  .subscribe__button {
    margin: 0;
  }
}

.potfolio-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .potfolio-section {
    padding: 94px 0;
  }
}

.filter__list {
  display: flex;
  margin-bottom: 40px;
  column-gap: 8px;
}

@media screen and (max-width: 767px) {
  .filter__list {
    flex-wrap: wrap;
    row-gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__button {
  display: block;
  padding: 0 22px;
  height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.card__item {
  flex: 1 80%;
  background-color: var(--primary-color);
  box-shadow: inset 0px 0px 0px 1px #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__item:hover, .card__item:focus {
  box-shadow: inset 0px 0px 0px 1px #eeeeee, 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__item:hover .card__description, .card__item:focus .card__description {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    flex: 1 40%;
  }
  .card__item:last-child {
    flex: 0 1 346.5px;
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    flex: 1 30%;
  }
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__text {
  padding: 20px 24px;
}

.card__text .card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.card__text .card__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.card__description {
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .card__description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .card__description {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */