.page-footer {
  padding: 60px 0;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--footer-bg-color);
  .logo {
    display: block;
    margin-bottom: 20px;
  }
  .footer__address,
  .social__list {
    margin-bottom: 60px;
  }
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tablet) {
    .social__list {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    .footer__address {
      margin-bottom: 0;
    }
    text-align: left;
  }
}
.footer__text,
.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe__mail {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color $tm $cubic;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    transition: color $tm $cubic;
  }
  &:hover,
  &:focus {
    border-color: var(--primary-color);
    &::placeholder {
      color: var(--primary-color);
    }
  }
}
.subscribe__button {
  margin: 0 auto;
}
@media screen and (min-width: $tablet) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .subscribe-form {
    flex: 0 1 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: $desktop) {
  .subscribe-form {
    flex: unset;
    margin: 0;
  }
  .subscribe__box {
    display: flex;
    width: 570px;
    justify-content: space-between;
  }
  .subscribe__mail {
    width: 358px;
    margin-bottom: 0;
  }
  .subscribe__button {
    margin: 0;
  }
}
