/* 
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*/
a {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--primary-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  /* page width */
  --page-width: 1200px;
  /* item margin */
  --item-margin: 30px;
  /* section title margin */
  --section-title-margin: 50px;
  /* section padding */
  --section-padding: 94px;
  /* width for 3 items in line */
  /* width for 4 items in line */
  /* transition-duration */
  --tm: 250ms;
  /* transition-timing-function */
  --cubic-b: cubic-bezier(0.4, 0, 0.2, 1);
  /* primary color white */
  --primary-color: #ffffff;
  /* secondary color blue */
  --secondary-color: #2196f3;
  /* header color black */
  --header-color: #212121;
  /* text color black */
  --text-color: #757575;
  /* hero background color */
  --hero-bg-color: #2f303a;
  /* background color */
  --background-color: #f5f4fa;
  /* futer background color */
  --footer-bg-color: #2f303a;
  /* mail-link color */
  --mail-link-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.in-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onerow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--item-margin);
          column-gap: var(--item-margin);
}

.manyrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--item-margin) var(--item-margin);
}

.to-center {
  display: block;
  margin: 0 auto;
}

.centered, .social__link, .close-button, .client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.container {
  width: var(--page-width);
  margin: 0 auto;
  padding: 0 calc(var(--item-margin) / 2);
}

.section-title {
  margin-bottom: var(--section-title-margin);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);
}

.main-button {
  min-width: 200px;
  padding: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color var(--tm) var(--cubic-b);
  transition: background-color var(--tm) var(--cubic-b);
}

.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.social__list {
  width: 206px;
  margin: 0 auto;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--tm) var(--cubic-b), background-color var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b), background-color var(--tm) var(--cubic-b);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: color var(--tm) var(--cubic-b), border-color var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b), border-color var(--tm) var(--cubic-b);
}

.close-button:hover, .close-button:focus {
  color: var(--secondary-color);
}

.close__icon {
  width: 18px;
  height: 18px;
  -o-object-position: center;
     object-position: center;
  fill: currentColor;
}

.page-header {
  padding: 0;
  border-bottom: 1px solid #ececec;
}

.page-header .logo {
  margin-right: 93px;
}

.page-header .logo__studio {
  color: #000000;
}

.nav__list {
  min-width: 294px;
}

.addr__list .item:not(:last-child) {
  margin-right: 30px;
}

.addr__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: currentColor;
}

.nav__link, .addr__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b);
}

.nav__link:hover, .addr__link:hover, .nav__link:focus, .addr__link:focus {
  color: var(--secondary-color);
}

.nav__link {
  position: relative;
  line-height: 1.43;
  color: var(--header-color);
}

.addr__link {
  line-height: 1.14;
  color: var(--text-color);
}

.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.hero-section {
  text-align: center;
  background-color: var(--hero-bg-color);
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin: 0 auto var(--item-margin);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.preference-section {
  padding: var(--section-padding) 0 0 0;
}

.preference__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  margin-bottom: var(--item-margin);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--background-color);
}

.preference__icon {
  width: 70px;
  height: 70px;
}

.preference__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-color);
}

.work-section {
  padding: var(--section-padding) 0;
}

.work__item {
  position: relative;
}

.work__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 28px 0px 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.person-section {
  padding: var(--section-padding) 0;
  background-color: var(--background-color);
}

.person-section .social__link {
  color: #afb1b8;
}

.person-section .social__link:hover, .person-section .social__link:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.person__item {
  padding-bottom: var(--item-margin);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background: var(--primary-color);
}

.person__title {
  margin-bottom: 10px;
  padding-top: var(--item-margin);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--header-color);
}

.person__text {
  margin-bottom: 16px;
}

.client-section {
  padding: var(--section-padding) 0;
}

.client__link {
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color var(--tm) var(--cubic-b), border-color var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b), border-color var(--tm) var(--cubic-b);
}

.client__link:hover, .client__link:focus {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  -o-object-position: center;
     object-position: center;
  fill: currentColor;
}

.page-footer {
  padding: 60px 0;
  color: var(--primary-color);
  background-color: var(--footer-bg-color);
}

.page-footer .social__link {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .social__link:hover, .page-footer .social__link:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.logo {
  margin-bottom: 20px;
}

.page-footer .logo__studio {
  color: var(--primary-color);
}

address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: var(--mail-link-color);
}

.footer__link:hover, .footer__link:focus {
  color: var(--primary-color);
}

.footer__text {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: block;
  width: 570px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}

.footer-form__mail {
  display: block;
  min-width: 358px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
  background-color: inherit;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__mail::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
}

.footer-form__mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
}

.footer-form__mail::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
}

.footer-form__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
}

.footer-form__mail ~ .main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.potfolio-section {
  padding: var(--section-padding) 0;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: block;
  padding: 6px 22px;
  min-width: 100px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--header-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color var(--tm) var(--cubic-b), background-color var(--tm) var(--cubic-b), -webkit-box-shadow var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b), background-color var(--tm) var(--cubic-b), -webkit-box-shadow var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b), background-color var(--tm) var(--cubic-b), box-shadow var(--tm) var(--cubic-b);
  transition: color var(--tm) var(--cubic-b), background-color var(--tm) var(--cubic-b), box-shadow var(--tm) var(--cubic-b), -webkit-box-shadow var(--tm) var(--cubic-b);
}

.filter__button:hover, .filter__button:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card .card__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--tm) var(--cubic-b);
  transition: -webkit-transform var(--tm) var(--cubic-b);
  transition: transform var(--tm) var(--cubic-b);
  transition: transform var(--tm) var(--cubic-b), -webkit-transform var(--tm) var(--cubic-b);
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card__description, .card:focus .card__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__text {
  padding: var(--item-margin) 0 20px 24px;
  background-color: var(--primary-color);
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow var(--tm) var(--cubic-b);
  transition: -webkit-box-shadow var(--tm) var(--cubic-b);
  transition: box-shadow var(--tm) var(--cubic-b);
  transition: box-shadow var(--tm) var(--cubic-b), -webkit-box-shadow var(--tm) var(--cubic-b);
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.card__type {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--tm) var(--cubic-b);
  transition: opacity var(--tm) var(--cubic-b);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.customer-form {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--tm) var(--cubic-b);
  transition: -webkit-transform var(--tm) var(--cubic-b);
  transition: transform var(--tm) var(--cubic-b);
  transition: transform var(--tm) var(--cubic-b), -webkit-transform var(--tm) var(--cubic-b);
}

.backdrop.is-hidden .customer-form {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.input__list {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 11px 11px 11px 42px;
  margin: 0 0 10px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--tm) var(--cubic-b);
  transition: border-color var(--tm) var(--cubic-b);
}

.input:hover, .input:focus {
  border-color: var(--secondary-color);
}

.input__label {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--header-color);
  pointer-events: none;
  -webkit-transition: fill var(--tm) var(--cubic-b);
  transition: fill var(--tm) var(--cubic-b);
}

.input:hover + .input__icon,
.input:focus + .input__icon {
  fill: var(--secondary-color);
}

.textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition: border-color var(--tm) var(--cubic-b);
  transition: border-color var(--tm) var(--cubic-b);
}

.textarea:hover, .textarea:focus {
  border-color: var(--secondary-color);
}

.textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  display: none;
}

.check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.check__icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-color);
  border-radius: 2px;
  fill: var(--primary-color);
  pointer-events: none;
}

.check:checked + .check__icon {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.check__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.check__link {
  color: var(--secondary-color);
}
/*# sourceMappingURL=main.css.map */